.admin-nav-main {
  width: 100%;
  height: 60px;
  background-color: #d85d44;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3000;
}

.admin-nav-logo {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
}

.admin-logo {
  width: 50px;
  margin-left: 20px;
}

.admin-nav-logo h4 {
  color: #f4eee1;
  font-size: 20px;
}

.admin-nav-navigation {
  display: flex;
  flex: 8;
  justify-content: flex-end;
  position: relative;
}

.admin-nav-p {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.admin-nav-navigation p {
  color: #f4eee1;
  margin-left: 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
}

.admin-addproduct-title {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-bottom: 30px;
  position: relative;
  padding-top: 50px;
}

.admin-addproduct-title h4 {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}

.admin-addproduct-title p {
  margin: 0px;
  font-size: 15px;
  color: #3d1d15;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}

.admin-addproduct-form-main {
  display: flex;
  flex-direction: row;
}

.admin-form-left {
  display: flex;
  flex-direction: column;
  flex: 8;

  margin: 20px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-bottom: 50px;
}

.admin-form-left input {
  width: 700px;
  height: 40px;
  border: 2px solid #bcbcbc;
  font-size: 17px;
  margin-left: 30px;
  font-family: "Manrope", sans-serif;
}

.admin-form-left textarea {
  width: 700px;
  height: 100px;
  border: 2px solid #bcbcbc;
  font-size: 17px;
  margin-left: 30px;
  font-family: "Manrope", sans-serif;
}

.admin-form-left h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 30px;
}

.admin-form-left p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
}
.admin-form-right {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 3;
  margin: 20px 20px 20px 0px;
  position: relative;
}

.image-upload {
  display: flex;
  flex-direction: column;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-bottom: 20px;
}

.image-upload h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 30px;
}

.image-upload p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 30px;
  color: #707070;
}

.image-upload-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eeeeee;
  margin: 0px 30px 0px 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-upload-list img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  margin-left: 10px;
}

.image-upload-list h3 {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
  color: #707070;
}

.file-wrap {
  position: relative;

  color: #707070;

  font-size: 12px;
  width: 130px;
  height: 40px;
  border: 2px solid #707070;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
}

.file-wrap:hover {
  background-color: #9f9f9f;
  color: white;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-text {
  position: absolute;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  left: 16px;
  top: 10px;
}

.warning {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
  height: 100%;
}

.warning h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 30px;
}

.warning p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 30px;
  color: #707070;
}

.btn-file-submit {
  z-index: 2;
  appearance: none;
  background-color: #d85d44;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 70px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-file-submit:hover {
  background-color: #3d1d15;
}

.admin-infobox {
  position: absolute;
  background-color: #d85d44;
  padding: 15px 20px 15px 20px;
  color: #f4eee1;
  font-weight: 600;
  font-size: 17px;
  border-radius: 3px;
  right: 200px;
  top: -200px;
  transition: 300ms;
}

.admin-infobox-show {
  top: 70px;
  transition: 300ms;
}
.admin-delbox {
  position: absolute;
  background-color: #d85d44;
  padding: 15px 20px 15px 20px;
  color: #f4eee1;
  font-weight: 600;
  font-size: 17px;
  border-radius: 3px;
  right: 200px;
  top: -200px;
  transition: 300ms;
}
.admin-delbox-show {
  top: 70px;
  transition: 300ms;
}

.admin-errorbox {
  position: absolute;
  background-color: #df401c;
  padding: 15px 20px 15px 20px;
  color: #f4eee1;
  font-weight: 600;
  font-size: 17px;
  border-radius: 3px;
  right: 200px;
  top: -200px;
  transition: 300ms;
}

.admin-errorbox-show {
  top: 70px;
  transition: 300ms;
}

.admin-errorimg {
  position: absolute;
  background-color: #df401c;
  padding: 15px 20px 15px 20px;
  color: #f4eee1;
  font-weight: 600;
  font-size: 17px;
  border-radius: 3px;
  right: 200px;
  top: -200px;
  transition: 300ms;
}

.admin-errorimg-show {
  top: 70px;
  transition: 300ms;
}

/* admin dash board */

.admin-dashboard-title {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-bottom: 30px;
  position: relative;
  padding-top: 50px;
}

.admin-dashboard-title h4 {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}

.admin-dashboard-title p {
  margin: 0px;
  font-size: 15px;
  color: #3d1d15;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}

.admin-dashboard-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.admin-dboard-boder {
  width: 90%;
}

.admin-widget-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.admin-widget-one {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.widget-icon1 {
  font-size: 65px;
  background-color: #d85d44;
  padding: 35px;
  color: white;
}

.admin-widget-info {
  display: flex;
  flex-direction: column;
}

.admin-widget-info h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  padding: 0px 100px 0px 20px;
  margin-top: -20px;
  font-size: 14px;
}

.admin-widget-info p {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.admin-widget-two {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.widget-icon2 {
  font-size: 65px;
  background-color: rgb(255, 178, 89);
  padding: 35px;
  color: white;
}

.admin-widget-three {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.widget-icon3 {
  font-size: 65px;
  background-color: rgb(88, 152, 115);
  padding: 35px;
  color: white;
}

.admin-widget-four {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.widget-icon4 {
  font-size: 65px;
  background-color: rgb(79, 196, 222);
  padding: 35px;
  color: white;
}

/* admin-table */

.section-dashboard-main {
  display: flex;
  flex-direction: row;
}

.section-dashboard-table {
  display: flex;
  flex-direction: column;
  flex: 7;

  align-items: center;
  background-color: white;
  margin: 20px;
  margin-top: 50px;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.section-dashboard-table h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.admin-dash-btn {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#admins-table {
  font-family: "Manrope", sans-serif;
  border-collapse: separate;
  width: 95%;
  height: auto;
  margin-top: 50px;
}

#admins-table td,
#admins-table th {
  border-bottom: 1px solid rgb(200, 199, 199);
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
}

#admins-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d8d8d;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.section-product-table {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  align-items: center;

  background-color: white;
  margin: 20px;
  margin-top: 50px;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.section-product-table h4 {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

#product-admin-tables {
  font-family: "Manrope", sans-serif;
  border-collapse: separate;
  width: 100%;
}

#product-admin-tables td,
#product-admin-tables th {
  border-bottom: 1px solid rgb(200, 199, 199);
  padding: 8px;
}

#product-admin-tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255, 178, 89);
  color: white;
}

.product-admin-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.seemore-admin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.seemore-admin-btn p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;

  font-weight: 600;
}

.seemore-admin-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #c5bcbc;
  color: white;
}

/* 
  order list page 
  */

.section-title-orderlist {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-bottom: 30px;
  position: relative;
  padding-top: 50px;
}

.input-search-orderlist {
  position: relative;
}

.input-search-orderlist input {
  width: 450px;
  height: 40px;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  border: 2px solid #8d8d8d;
  margin-top: 30px;
}

.input-search-icon {
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 25px;
}

.section-title-orderlist h4 {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}

.section-title-orderlist p {
  margin: 0px;
  font-size: 15px;
  color: #3d1d15;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}

.section-orderlist-table-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderlist-table-boder {
  width: 100%;
}

#admins-orderlist-table {
  font-family: "Manrope", sans-serif;
  border-collapse: separate;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

#admins-orderlist-table td,
#admins-orderlist-table th {
  border-bottom: 1px solid rgb(200, 199, 199);
  padding: 8px;

  font-size: 15px;
  font-weight: 600;
}

#admins-orderlist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d8d8d;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.inputorder-btn {
  background-color: #d85d44;
  color: white;
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.inputorder-btn:hover {
  background-color: #952c17;
}

/* 
product list page
 */

.section-title-productlist {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-bottom: 30px;
  position: relative;
  padding-top: 50px;
}

.section-title-productlist h4 {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 20px;
  margin: 0px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 20px;
}

.section-title-productlist p {
  margin: 0px;
  font-size: 15px;
  color: #3d1d15;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}

.admin-productlist-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.input-admin-productlist {
  position: relative;
}

.admin-productlist-table input {
  width: 450px;
  height: 40px;
  border-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  border: 2px solid #8d8d8d;
  margin-top: 30px;
}

.input-search-icon-product {
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 25px;
}

.admin-productlist-table-boder {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#admins-productlist-table {
  font-family: "Manrope", sans-serif;
  border-collapse: separate;
  width: 99%;
  height: auto;
  margin-top: 30px;
}

#admins-productlist-table td,
#admins-productlist-table th {
  border-bottom: 1px solid rgb(200, 199, 199);
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
}

#admins-productlist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d8d8d;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.productlist-img {
  width: 100px;

  height: 100px;
  object-fit: contain;
}

.table-btns {
  display: flex;
  flex-direction: row;
  float: right;
}

.edit-btn-admin,
.del-btn-admin {
  color: white;
  border: none;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn-admin {
  background-color: #4da8bc;
}

.edit-btn-admin:hover {
  background-color: #2b5f6b;
}

.del-btn-admin {
  background-color: #d53434;
  margin-left: 10px;
}
.del-btn-admin:hover {
  background-color: #761e1e;
}

.button-34 {
  z-index: 2;
  appearance: none;
  background-color: #d85d44;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 30px;
}

.button-34:hover {
  background-color: #3d1d15;
  transition: 300ms;
}

.admin-nav-ham {
  display: none;
}
.section-navside {
  display: none;
}

@media only screen and (max-width: 1005px) and (min-width: 100px) {
  .admin-nav-navigation {
    display: none;
  }

  .admin-nav-ham {
    display: block;
    margin-right: 20px;
  }
  .admin-icon-nav-ham {
    color: white;
    font-size: 26px;
  }

  .section-navside {
    display: none;
  }
  .section-navside-show {
    display: block;
  }

  .admin-navside-main {
    width: 100%;
    height: 100%;
    z-index: 3000;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: grayscale(100%) blur(2px) brightness(20%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .admin-navside-border {
    position: relative;
    width: 230px;
    height: 100vh;
    background-color: rgb(244, 238, 225);
  }

  .admin-navside-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .admin-sidenav-text {
    color: #3d1d15;
    cursor: pointer;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .admin-nav-sideIcon {
    font-size: 25px;
    padding: 0px 13px 0px 13px;
  }

  .close-navside-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
    color: #3d1d15;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 906px) {
  .admin-dboard-border {
    width: 90%;
  }

  .admin-widget-main {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .admin-widget-one {
    width: auto;
    height: auto;
  }

  .widget-icon1,
  .widget-icon2,
  .widget-icon3,
  .widget-icon4 {
    font-size: 45px;
    padding: 13px;
  }
  .admin-widget-info {
    padding-left: 30px;
    padding-right: 30px;
  }
  .admin-widget-info h4 {
    margin: 0px;
    padding: 0px;
  }

  .admin-widget-info p {
    margin: 0px;
    padding: 0px;
  }

  .admin-form-left {
    flex: 6;
  }

  .admin-form-left input {
    width: 400px;
  }

  .admin-form-left textarea {
    width: 400px;
  }

  .admin-form-right {
    flex: 5;
  }
}

@media only screen and (max-width: 906px) and (min-width: 650px) {
  .admin-dboard-border {
    width: 95%;
  }

  .admin-widget-main {
    flex-flow: row wrap;
    justify-content: center;
  }

  .admin-widget-one,
  .admin-widget-two,
  .admin-widget-three,
  .admin-widget-four {
    width: auto;
    height: auto;
    margin: 0px 20px 20px 0px;
  }

  .widget-icon1,
  .widget-icon2,
  .widget-icon3,
  .widget-icon4 {
    font-size: 45px;
    padding: 13px;
  }
  .admin-widget-info {
    padding-left: 30px;
    padding-right: 30px;
  }
  .admin-widget-info h4 {
    margin: 0px;
    padding: 0px;
  }

  .admin-widget-info p {
    margin: 0px;
    padding: 0px;
  }

  .section-dashboard-main {
    flex-direction: column;
  }

  #admins-table {
    margin-bottom: 75px;
  }

  .admin-dash-btn {
    left: 0px;
    right: 0px;
  }
  .admin-addproduct-form-main {
    flex-direction: column;
  }

  .admin-form-left input {
    max-width: 500px;
  }
  .admin-form-right input {
    max-width: 500px;
  }
  .admin-form-left textarea {
    max-width: 500px;
  }
  .admin-form-right textarea {
    max-width: 500px;
  }

  .admins-order-phonepage-title {
    display: none;
  }
  .admins-order-kpaypage-title {
    display: none;
  }
  .admins-order-address-title {
    display: none;
  }
  .admins-order-phonepage {
    display: none;
  }
  .admins-order-kpaypage {
    display: none;
  }
  .admins-order-adress {
    display: none;
  }
}

@media only screen and (max-width: 650px) and (min-width: 350px) {
  .admin-dboard-border {
    width: 100%;
  }

  .admin-widget-main {
    flex-flow: row wrap;
    justify-content: center;
  }

  .admin-widget-one,
  .admin-widget-two,
  .admin-widget-three,
  .admin-widget-four {
    width: auto;
    height: auto;
    margin: 0px 15px 15px 0px;
  }

  .widget-icon1,
  .widget-icon2,
  .widget-icon3,
  .widget-icon4 {
    font-size: 45px;
    padding: 13px;
  }
  .admin-widget-info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .admin-widget-info h4 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
  }

  .admin-widget-info p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  }

  .section-dashboard-main {
    flex-direction: column;
  }

  #admins-table {
    margin-bottom: 75px;
  }

  .admin-dash-btn {
    left: 0px;
    right: 0px;
  }

  .section-dashboard-table {
    margin-left: 0px;
    margin-right: 0px;
  }

  #admins-table {
    width: 100%;
  }

  #admins-table td {
    font-size: 13px;
  }
  .table-phone-title {
    display: none;
  }

  .table-phone {
    display: none;
  }
  .admin-addproduct-form-main {
    flex-direction: column;
  }

  .admin-form-left {
    margin: 10px;
  }

  .admin-form-left input {
    margin-left: 10px;
    max-width: 330px;
  }

  .admin-form-left textarea {
    margin-left: 10px;
    max-width: 330px;
  }
  .admin-form-right textarea {
    max-width: 500px;
  }

  .admin-form-left h4 {
    padding-left: 10px;
  }
  .admin-form-left p {
    margin-left: 10px;
  }

  .admin-form-right {
    margin: 10px 10px 10px 10px;
  }

  .btn-file-submit {
    margin-left: 90px;
  }
  .input-search-orderlist input {
    width: 320px;
  }

  .admins-order-phonepage-title {
    display: none;
  }
  .admins-order-kpaypage-title {
    display: none;
  }
  .admins-order-address-title {
    display: none;
  }
  .admins-order-phonepage {
    display: none;
  }
  .admins-order-kpaypage {
    display: none;
  }
  .admins-order-adress {
    display: none;
  }

  #admins-orderlist-table td {
    font-size: 11px;
  }
  .inputorder-btn {
    padding: 3px 11px 3px 11px;
  }

  .admin-productlist-table input {
    width: 320px;
  }

  .productlist-title-pageheader {
    display: none;
  }

  .productlist-desc-table-row {
    display: none;
  }

  #admins-productlist-table td,
  #admins-productlist-table th {
    font-size: 12px;
  }

  .productlist-img {
    width: 75px;
    height: 75px;
  }

  .edit-btn-admin,
  .del-btn-admin {
    padding: 3px 11px 3px 11px;
  }
}
