.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 



Main Nav section-----------



---------------- */

.main-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #f4eee1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
}

.main-logo {
  display: flex;
  flex: 3;
  align-items: center;
}

.logo-image {
  width: 60px;
  margin-left: 60px;
}

.logo-text {
  margin-left: 15px;
  color: #3d1d15;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.logo-text-minor {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  position: absolute;
  color: #5a2a1f;
}

.logo-text-minor-fit {
  margin-top: -10px;
}

.main-menu {
  display: flex;
  flex: 5;

  align-items: center;
}

.main-menu-ul {
  display: flex;
  list-style: none;
}

.main-menu-ul li {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  margin-left: 50px;
  color: #3d1d15;
  cursor: pointer;
}
.main-menu-ul li:hover {
  color: #d85d44;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  transition: 400ms;
}
.main-icon {
  display: flex;
  flex: 4;
  align-items: center;
  position: relative;
}

.main-icon-ul {
  display: flex;
  list-style: none;
}

.search-icon,
.shop-icon {
  font-size: 25px;
  color: #3d1d15;
  font-weight: 100;
  margin-left: 40px;
  cursor: pointer;
}

.search-icon {
  margin-left: 130px;
}

.search-icon:hover,
.shop-icon:hover {
  color: #d85d44;
}

.language {
  display: flex;
  margin-left: 40px;
  cursor: pointer;
}

.english {
  border: 2px solid #3d1d15;
  border-radius: 5px;
  transition: 500ms;
}

.english-hide {
  border: 2px solid #f4eee1;
  color: #8f8673;
  transition: 500ms;
}

.english span {
  padding: 5px;
}

.burmese {
  border: 2px solid #3d1d15;
  border-radius: 5px;
  transition: 500ms;
}

.burmese-hide {
  border: 2px solid #f4eee1;
  color: #8f8673;
  transition: 500ms;
}

.burmese span {
  padding: 5px;
}

.language-info {
  position: absolute;
  top: -70px;

  width: 350px;
  height: 50px;
  display: flex;
  background: rgb(255, 137, 113);
  background: linear-gradient(
    270deg,
    rgba(255, 137, 113, 1) 0%,
    rgba(236, 115, 91, 1) 0%,
    rgba(229, 107, 83, 1) 0%,
    rgba(225, 103, 78, 1) 0%,
    rgba(216, 93, 68, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 2;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  transition: 500ms;
}

.language-info-show {
  position: absolute;
  top: 70px;
  transition: 500ms;
}

.lg-icon {
  font-size: 25px;
  margin: 0;
  color: #f4eee1;
}

.language-info p {
  color: #f4eee1;
  font-family: "Manrope", sans-serif;

  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}
/*----------




the end of nav bar 






-------- */

/* ----------



the start of main body-----




------ */
.swiper {
  width: 100%;
  height: 550px;
}

.swiper-slide {
  display: flex;
  width: 900px;
  height: 500px;

  align-items: center;
}

:root {
  --swiper-navigation-color: white !important;
  --swiper-theme-color: white !important;
}

.main-body {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(110, 58, 13);
  background: linear-gradient(
    188deg,
    rgba(110, 58, 13, 1) 2%,
    rgba(180, 116, 49, 1) 47%,
    rgba(255, 178, 89, 1) 98%
  );
}

.bd-section-image {
  position: relative;
  width: 550px;
  z-index: 1;
}
.burgur {
  width: 550px;
}

.bgImage {
  width: 550px;
  height: 550px;

  position: absolute;
  z-index: -1;
  left: -60px;
  top: -130px;
}

.bd-section-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 100px;
}

.text-itemName {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3 {
  z-index: 2;
  appearance: none;
  background-color: #d85d44;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3:hover {
  background-color: #3d1d15;
}

/* ---------main-body two--------------- */
.main-body-two {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 59, 45);
  background: linear-gradient(
    188deg,
    rgba(34, 59, 45, 1) 10%,
    rgba(45, 97, 67, 1) 48%,
    rgba(88, 152, 115, 1) 90%
  );
}

.bd-section-image-two {
  position: relative;
  width: 230px;
  z-index: 1;
}

.bubble {
  width: 230px;
}

.bgImage2 {
  width: 500px;

  position: absolute;
  z-index: -1;
  left: -130px;
  top: -30px;
}

.bd-section-text-two {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.text-itemName-two {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice-two {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3-two {
  z-index: 2;
  appearance: none;
  background-color: #ffb259;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3-two:hover {
  background-color: #3d1d15;
}

/* ---------main-body three--------------- */
.main-body-three {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(79, 36, 27);
  background: linear-gradient(
    188deg,
    rgba(79, 36, 27, 1) 10%,
    rgba(153, 72, 56, 1) 50%,
    rgba(216, 93, 68, 1) 90%
  );
}
.bd-section-image-three {
  position: relative;
  width: 500px;
  z-index: 1;
}

.pizza {
  width: 500px;
}
.bgImage3 {
  width: 530px;

  position: absolute;
  z-index: -1;
  left: 80px;
  top: -80px;
}

.bd-section-text-three {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 20px;
}

.text-itemName-three {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice-three {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3-three {
  z-index: 2;
  appearance: none;
  background-color: #589873;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3-three:hover {
  background-color: #3d1d15;
}

/*---------


 
 section feature product 
 


 ----------*/

.section-feature-product {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

.section-feature-product-boder {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.section-feature-title {
  display: flex;
  justify-content: center;
}

.feature-title {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.section-product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
}

.product-main {
  width: 240px;
  height: 295px;
  background: rgb(249, 247, 245);
  background: linear-gradient(
    357deg,
    rgba(249, 247, 245, 1) 12%,
    rgba(244, 238, 225, 1) 100%
  );
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 40px 0px 0px 40px;

  transition: 300ms;
}

.logoimg {
  width: 40px;
  left: 20px;
  top: 20px;
  position: absolute;
  opacity: 0.3;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-text {
  display: flex;
  flex-direction: column;
}

.pd-name {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 15px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 20px;
}

.pd-price {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  color: #d85d44;
  margin-top: 5px;
}

.pd-add {
  border-radius: 50px;
  background-color: #e8e4dd;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;
  color: #3d1d15;
  transition: 200ms;
}

.pd-add-icon {
  font-size: 24px;

  padding: 4px;
}

.pd-add:hover {
  background-color: #d85d44;
  transition: 200ms;
  color: #f4eee1;
}

.product-img:hover {
  transform: scale(1.5);
  transition: 300ms;
}

/* -----------



section promo main



--------- */

.section-promo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.section-promo-boder {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(249, 247, 245);
  background: linear-gradient(
    357deg,
    rgba(249, 247, 245, 1) 12%,
    rgba(244, 238, 225, 1) 100%
  );
}

.section-promo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-title {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.section-promo-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.promo-about-boder {
  width: 90%;
  display: flex;
  justify-content: space-around;

  padding-bottom: 50px;
}

.promo-about-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-one {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-two {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-three {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-four {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-four {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-four {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

/* -------


section guide main


--------*/

.section-guide-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.section-guide-boder {
  width: 60%;

  position: relative;
}

.pointer1 {
  top: 120px;
  width: 230px;
  position: absolute;
}
.pointer2 {
  top: 320px;
  left: 680px;
  width: 230px;
  position: absolute;
}
.section-guide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guide-title-main {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  margin: 0;
  margin-bottom: 30px;
}

.guide-title-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.guide-title-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}
.guide-title-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.guide-title-text {
  font-family: "Manrope", sans-serif;
  color: #87655c;
  font-size: 16px;
  width: 550px;
  letter-spacing: 1px;
  font-weight: 600;
}

.guide-bar {
  width: 30px;
  height: 3px;
  background-color: #3d1d15;
  margin: 20px;
}

/* ----------


footer section


------------*/

.section-footer-main {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 233, 216, 1) 100%
  );
}

.section-footer-boder {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-list-main {
  position: relative;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.logo-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.logo-list-img {
  width: 80px;
}

.logo-list-text {
  margin: 0px;
  margin-left: 5px;
  color: #3d1d15;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.logo-list p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  position: absolute;
  color: #5a2a1f;
  margin-top: 120px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}

.faq-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}
.contact-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.developer-list {
  display: flex;
  flex-direction: column;
}

.developer-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}

.developer-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.copy-right-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 970px;
}

.copy-right-list p {
  margin: 0px;

  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

.cp-facebook,
.cp-insta {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 7px;
}

/* ----------


scrool bar 



---------- */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d85d44;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d1d15;
}

/* --------------------




Menu page start from here 





-----------------------*/

.section-menu {
  width: auto;
  height: auto;
}

.menu-title-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.menu-search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-search {
  position: relative;
}

.search {
  width: 450px;

  border: none;
  border-bottom: 2.3px solid #5a2a1f;
  font-size: 18px;
  outline: none;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  letter-spacing: 0.5px;
}

.search:focus {
  border-bottom: 2.3px solid #d85d44;
  transition: 300ms;
}

.search::placeholder {
  font-family: "Manrope", sans-serif;
  color: #8f8673;
}

.search-menu-icon {
  position: absolute;
  left: 430px;
  font-size: 25px;
  color: #3d1d15;
  font-weight: 100;
}

.menu-filter {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.menu-filter-one,
.menu-filter-two,
.menu-filter-three,
.menu-filter-four {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(249, 247, 245);
  background: linear-gradient(
    357deg,
    rgba(249, 247, 245, 1) 12%,
    rgba(244, 238, 225, 1) 100%
  );
  margin-left: 10px;
  border-radius: 5px;
  color: #d85d44;
  transition: 300ms;
  cursor: pointer;
}

.menu-filter-one:hover,
.menu-filter-two:hover,
.menu-filter-three:hover,
.menu-filter-four:hover {
  background: #d85d44;
  color: #f4eee1;
  transition: 300ms;
}

.filter-icon-one,
.filter-icon-two,
.filter-icon-three,
.filter-icon-four {
  font-size: 20px;
  padding: 0px 10px 0px 20px;
}

.filter-name-one,
.filter-name-two,
.filter-name-three,
.filter-name-four {
  font-family: "Manrope", sans-serif;
  font-size: 15px;

  padding-right: 20px;
}

/* --------------------



about page start here





-----------------------*/

.about-section {
  background-color: #f4eee1;
}

.about-section-main {
  display: flex;
  justify-self: center;
  align-items: center;
  background: rgb(79, 36, 27);
  background: linear-gradient(
    188deg,
    rgba(79, 36, 27, 1) 10%,
    rgba(153, 72, 56, 1) 50%,
    rgba(216, 93, 68, 1) 90%
  );
}

.about-main-boder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-main-body {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  color: #e3d8c1;
}

.about-title {
  font-family: "Lexend Tera", sans-serif;
  font-size: 40px;

  margin: 0;
  padding-right: 50px;
}

.about-bar {
  width: 3px;
  height: 270px;
  background-color: #e3d8c1;
  opacity: 0.3;
  border-radius: 5px;
}

.about-text {
  width: 50%;
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  padding-left: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
}

.testi-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testi-section-title h3 {
  margin: 0;
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 50px;
}

.testi-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.testi-section-body {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.testi-model-one,
.testi-model-two,
.testi-model-three {
  position: relative;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testi-icon {
  color: #d85d44;
  font-size: 50px;
  position: absolute;
  top: -25px;
  left: -25px;
}

.testi-text {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 15px;

  letter-spacing: 0.5px;
  padding: 20px 20px 0px 20px;
}

.testi-bar {
  width: 100px;
  height: 3px;
  background-color: #d85d44;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testi-name {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  font-size: 15px;
  padding-bottom: 20px;
}

.testi-icon-ps {
  position: absolute;
  color: #d85d44;
  font-size: 35px;
  right: -15px;
  bottom: -10px;
}

/* --------------------



contact page start here





-----------------------*/

.contact-section-main {
  background: rgb(79, 36, 27);
  background: linear-gradient(
    188deg,
    rgba(79, 36, 27, 1) 10%,
    rgba(153, 72, 56, 1) 50%,
    rgba(216, 93, 68, 1) 90%
  );
}

.contact-main-boder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-main-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
  color: #e3d8c1;
}

.contact-title {
  font-family: "Lexend Tera", sans-serif;
  font-size: 40px;
  margin: 0;
  padding-right: 50px;
}

.contact-bar {
  width: 3px;
  height: 270px;
  background-color: #e3d8c1;
  opacity: 0.3;
  border-radius: 5px;
}

.contact-form-main {
  display: flex;
  flex-direction: column;
}

.nameandphone {
  display: flex;
  flex-direction: row;
}

.name {
  border: none;
  background: none;
  outline: none;
  width: 250px;
  height: 35px;

  border-bottom: 2px solid #e3d8c1;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin-left: 100px;
  font-size: 17px;
}

.name::placeholder {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  margin: 0;
  opacity: 0.5;
}

.phone {
  border: none;
  background: none;
  outline: none;
  width: 250px;
  height: 35px;

  border-bottom: 2px solid #e3d8c1;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin-left: 30px;
  font-size: 17px;
}

.phone::placeholder {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  margin: 0;
  opacity: 0.5;
}

.email {
  border: none;
  background: none;
  outline: none;
  width: 535px;
  height: 35px;
  font-size: 17px;
  border-bottom: 2px solid #e3d8c1;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin: 20px 0px 0px 100px;
}

.email::placeholder {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  margin: 0;
  opacity: 0.5;
}

.message {
  border: none;
  background: none;
  outline: none;
  width: 535px;
  height: 35px;
  font-size: 17px;
  border-bottom: 2px solid #e3d8c1;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin: 20px 0px 0px 100px;
}

.message::placeholder {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  margin: 0;
  opacity: 0.5;
}

.submit-btn {
  width: 140px;
  height: 50px;
  z-index: 2;
  appearance: none;
  background-color: #589873;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;

  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 30px 0px 0px 100px;
}

.submit-btn:hover {
  background-color: #3d1d15;
}

.contact-info-main {
  padding-bottom: 100px;
}

.contact-info-boder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-body {
  width: 80%;
}

.contact-title-text h4 {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.contact-info-body {
  display: flex;
  flex-direction: row;
}

.contact-address-main {
  position: relative;
  width: 40%;
  background-color: white;
  border-radius: 10px;
}

.contact-address-main p {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 30px 30px 30px 30px;
}

.quote-left {
  position: absolute;
  color: #d85d44;
  font-size: 40px;
  left: -20px;
  top: -20px;
}

.quote-right {
  position: absolute;
  color: #d85d44;
  font-size: 40px;
  right: 0px;
  bottom: -20px;
}

.contact-social-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
}

.contact-social-main p {
  color: #5a2a1f;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}

.social-icon-list {
  color: #d85d44;
  font-size: 30px;
}

.social-bar {
  width: 100px;
  height: 3px;
  background-color: #d85d44;
}

.s-icon1,
.s-icon2,
.s-icon3,
.s-icon4 {
  padding: 20px 10px 0px 10px;
}

.s-icon1:hover,
.s-icon2:hover,
.s-icon3:hover,
.s-icon4:hover {
  color: #3d1d15;
}
