.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 



Main Nav section-----------



---------------- */

.main-nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #f4eee1;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.main-logo {
  display: flex;
  flex: 3;
  align-items: center;
}

.logo-image {
  width: 60px;
  margin-left: 60px;
}

.logo-text {
  margin-left: 15px;
  color: #3d1d15;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.logo-text-minor {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  position: absolute;
  color: #5a2a1f;
}

.logo-text-minor-fit {
  margin-top: -10px;
}

.main-menu {
  display: flex;
  flex: 5;

  align-items: center;
}

.main-menu-ul {
  display: flex;
  list-style: none;
}

.main-menu-ul li {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  margin-left: 50px;
  color: #3d1d15;
  cursor: pointer;
}
.main-menu-ul li:hover {
  color: #d85d44;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  transition: 400ms;
}
.main-icon {
  display: flex;
  flex: 4;
  align-items: center;
}

.main-icon-ul {
  display: flex;
  list-style: none;
}

.search-icon,
.shop-icon {
  font-size: 25px;
  color: #3d1d15;
  font-weight: 100;
  margin-left: 40px;
  cursor: pointer;
}

.search-icon {
  margin-left: 130px;
}

.search-icon:hover,
.shop-icon:hover {
  color: #d85d44;
}

.language {
  display: flex;
  margin-left: 40px;
  cursor: pointer;
}

.english {
  border: 2px solid #3d1d15;
  border-radius: 5px;
  transition: 500ms;
}

.english-hide {
  border: 2px solid #f4eee1;
  color: #8f8673;
  transition: 500ms;
}

.english span {
  padding: 5px;
}

.burmese {
  border: 2px solid #3d1d15;
  border-radius: 5px;
  transition: 500ms;
}

.burmese-hide {
  border: 2px solid #f4eee1;
  color: #8f8673;
  transition: 500ms;
}

.burmese span {
  padding: 5px;
}

/*----------




the end of nav bar 






-------- */

/* ----------



the start of main body-----




------ */
.swiper {
  width: 100%;
  height: 550px;
}

.swiper-slide {
  display: flex;
  width: 900px;
  height: 500px;

  align-items: center;
}

:root {
  --swiper-navigation-color: white !important;
  --swiper-theme-color: white !important;
}

.main-body {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(110, 58, 13);
  background: linear-gradient(
    188deg,
    rgba(110, 58, 13, 1) 2%,
    rgba(180, 116, 49, 1) 47%,
    rgba(255, 178, 89, 1) 98%
  );
}

.bd-section-image {
  position: relative;
  width: 550px;
  z-index: 1;
}
.burgur {
  width: 550px;
}

.bgImage {
  width: 550px;
  height: 550px;

  position: absolute;
  z-index: -1;
  left: -60px;
  top: -130px;
}

.bd-section-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 100px;
}

.text-itemName {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3 {
  z-index: 2;
  appearance: none;
  background-color: #d85d44;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3:hover {
  background-color: #3d1d15;
}

/* ---------main-body two--------------- */
.main-body-two {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 59, 45);
  background: linear-gradient(
    188deg,
    rgba(34, 59, 45, 1) 10%,
    rgba(45, 97, 67, 1) 48%,
    rgba(88, 152, 115, 1) 90%
  );
}

.bd-section-image-two {
  position: relative;
  width: 230px;
  z-index: 1;
}

.bubble {
  width: 230px;
}

.bgImage2 {
  width: 500px;

  position: absolute;
  z-index: -1;
  left: -130px;
  top: -30px;
}

.bd-section-text-two {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.text-itemName-two {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice-two {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3-two {
  z-index: 2;
  appearance: none;
  background-color: #ffb259;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3-two:hover {
  background-color: #3d1d15;
}

/* ---------main-body three--------------- */
.main-body-three {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(79, 36, 27);
  background: linear-gradient(
    188deg,
    rgba(79, 36, 27, 1) 10%,
    rgba(153, 72, 56, 1) 50%,
    rgba(216, 93, 68, 1) 90%
  );
}
.bd-section-image-three {
  position: relative;
  width: 500px;
  z-index: 1;
}

.pizza {
  width: 500px;
}
.bgImage3 {
  width: 530px;

  position: absolute;
  z-index: -1;
  left: 80px;
  top: -80px;
}

.bd-section-text-three {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 20px;
}

.text-itemName-three {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
}

.text-itemPrice-three {
  color: #e3d8c1;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

/* CSS */
.button-3-three {
  z-index: 2;
  appearance: none;
  background-color: #589873;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-3-three:hover {
  background-color: #3d1d15;
}

/*---------


 
 section feature product 
 


 ----------*/

.section-feature-product {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

.section-feature-product-boder {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.section-feature-title {
  display: flex;
  justify-content: center;
}

.feature-title {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.section-product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
}

.product-main {
  width: 240px;
  height: 295px;
  background: rgb(249, 247, 245);
  background: linear-gradient(
    357deg,
    rgba(249, 247, 245, 1) 12%,
    rgba(244, 238, 225, 1) 100%
  );
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 40px 0px 0px 40px;

  transition: 300ms;
}

.logoimg {
  width: 40px;
  left: 20px;
  top: 20px;
  position: absolute;
  opacity: 0.3;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-text {
  display: flex;
  flex-direction: column;
}

.pd-name {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 15px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 20px;
}

.pd-price {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  color: #d85d44;
  margin-top: 5px;
}

.pd-add {
  border-radius: 50px;
  background-color: #e8e4dd;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;
  color: #3d1d15;
  transition: 200ms;
}

.pd-add-icon {
  font-size: 24px;

  padding: 4px;
}

.pd-add:hover {
  background-color: #d85d44;
  transition: 200ms;
  color: #f4eee1;
}

.product-img:hover {
  transform: scale(1.5);
  transition: 300ms;
}

/* -----------



section promo main



--------- */

.section-promo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.section-promo-boder {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(249, 247, 245);
  background: linear-gradient(
    357deg,
    rgba(249, 247, 245, 1) 12%,
    rgba(244, 238, 225, 1) 100%
  );
}

.section-promo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-title {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  padding: 20px;
}

.section-promo-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.promo-about-boder {
  width: 90%;
  display: flex;
  justify-content: space-around;

  padding-bottom: 50px;
}

.promo-about-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-one {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-two {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-three {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

.promo-about-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 270px;
  text-align: center;
}

.promo-icon-four {
  font-size: 65px;
  font-weight: 200;
  color: #d85d44;
}

.promo-title-four {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 17px;
  font-weight: 900;
  margin: 0;
}

.promo-bar {
  width: 30px;
  height: 4px;
  background-color: #d85d44;
  margin: 15px 0px 15px 0px;
}

.promo-text-four {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 14px;
  margin: 0;
}

/* -------


section guide main


--------*/

.section-guide-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.section-guide-boder {
  width: 60%;

  position: relative;
}

.pointer1 {
  top: 120px;
  width: 230px;
  position: absolute;
}
.pointer2 {
  top: 320px;
  left: 680px;
  width: 230px;
  position: absolute;
}
.section-guide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guide-title-main {
  color: #3d1d15;
  font-family: "Lexend Tera", sans-serif;
  font-size: 23px;
  margin: 0;
  margin-bottom: 30px;
}

.guide-title-one {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.guide-title-two {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}
.guide-title-three {
  font-family: "Manrope", sans-serif;
  color: #3d1d15;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.guide-title-text {
  font-family: "Manrope", sans-serif;
  color: #87655c;
  font-size: 16px;
  width: 550px;
  letter-spacing: 1px;
  font-weight: 600;
}

.guide-bar {
  width: 30px;
  height: 3px;
  background-color: #3d1d15;
  margin: 20px;
}

/* ----------


footer section


------------*/

.section-footer-main {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 233, 216, 1) 100%
  );
}

.section-footer-boder {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-list-main {
  position: relative;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.logo-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.logo-list-img {
  width: 80px;
}

.logo-list-text {
  margin: 0px;
  margin-left: 5px;
  color: #3d1d15;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.logo-list p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  position: absolute;
  color: #5a2a1f;
  margin-top: 120px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}

.faq-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}
.contact-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.developer-list {
  display: flex;
  flex-direction: column;
}

.developer-list h3 {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #3d1d15;
}

.developer-list p {
  margin: 0px;
  color: #3d1d15;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.copy-right-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 970px;
}

.copy-right-list p {
  margin: 0px;

  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

.cp-facebook,
.cp-insta {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 7px;
}
